<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Prueba Thymeleaf</title>
</head>
<body>
    <p>Hola <span th:text="${saludo}">Hola!</span></p>
    <p>Hola <span th:text="${nombre}">Javi!</span></p>
</body>
</html>